// MUSTRA CAROUSELS
//
// Slick.js carousel styles

//
// Slider
//
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

//
// Slick theme
//

// Slider
.slick-loading .slick-list{
  background: #fff url('#{$slick-loader-path}ajax-loader.gif') center center no-repeat;
}

//
// Arrows
//

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: $slick-arrow-box-size;
  width: $slick-arrow-box-size;
  cursor: pointer;
  background-color: #fff;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: none;
  outline: none;
  z-index: $zindex-carousel-arrows;
  text-align: center;
  opacity: $slick-opacity-default;
  transition: opacity $transition-duration-fast $transition-easing;

  &:hover,
  &:focus {
    outline: none;
    opacity: $slick-opacity-on-hover;
  }

  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
}

.slick-prev:before,
.slick-next:before {
  content: "";
  display: block;
  width: $slick-arrow-size;
  height: $slick-arrow-size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;

  &[dir="rtl"] {
    left: auto;
  }

  &:before {
    background: url("#{$icons-path}icon-carousel-left.svg") no-repeat;
  }
}

.slick-next {
  right: 0;

  &[dir="rtl"] {
    right: auto;
  }

  &:before {
    background: url("#{$icons-path}icon-carousel-right.svg") no-repeat;
  }
}

//
// Dots
//

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -30px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: $slick-dot-size;
    width: $slick-dot-size;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    cursor: pointer;
    opacity: $slick-opacity-default;

    button {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: $slick-dot-size;
      width: $slick-dot-size;
      padding: 50%;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      background-color: $slick-dot-color-default;
      border: 0;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      transition: background-color $transition-duration-fast $transition-easing;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    &.slick-active {
      button {
        background-color: $slick-dot-color-active;
      }
    }
  }
}

//
// Specific carousels
//

// Full-width (relative to it's parent)

.carousel-full-wh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .slick-slide,
  .slick-track,
  .slick-list {
    height: 100%;
  }

  .slick-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
