// MUSTRA FIGURES
//

.figure {
  clear: both;
  margin-top: 0;
  margin-bottom: $spacing-type;
  text-align: center;

  figcaption {
    text-align: left;
  }

  img,
  iframe,
  video,
  object,
  embed {
    @extend .contain;
  }

  &.left {
    clear: none;
    @media (min-width: $screen-xs) {
      margin-right: $spacing-type;
    }

  }

  &.right {
    clear: none;
    @media (min-width: $screen-xs) {
      margin-left: $spacing-type;
    }
  }

}
