// MUSTRA LISTS
//
// Basic list styles

//
// Lists
//

.list-unstyled {
  padding-left: 0;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}

.list-inline,
.list-inline-block {
  @extend .list-unstyled;

  li {
    display: inline;
    margin-right: $spacing-base;
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
  }

  // Separate list items with a dot

  &.list-middot {

    li:before {
      content: "•";
      margin-right: 1em;
      color: $color-quiet;
    }

    li:first-child:before {
      display: none;
    }

  }

}

.list-inline-block li {
  display: inline-block;
}

// Fix for right-aligned lists
.list-inline li,
.list-inline-block li {
  .rtl &,
  .txtr &,
  .txtr &,
  .txtr-sm &,
  .txtr-sm &,
  .txtr-md &,
  .txtr-md & {
    margin-right: 0;
    margin-left: $spacing-sm;
  }
}

.list-spaced {
  > li {
    margin-top: $spacing-base;
    margin-bottom: $spacing-base;
  }
}
