// MUSTRA OVERLAYS
//

// Overlay dimm
.overlay {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-overlay;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
}

// Content
.overlay-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: $spacing-lg;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translate3d(0, 110%, 0);
  transition: transform $transition-duration-base;
  overflow-y: auto;

  // When visible
  .show & {
    transform: translate3d(0, 0, 0);
    transition-delay: $transition-duration-base;
  }
}

// Inner content wrapper (animated)
.overlay-content-inner {
  position: relative;
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: opacity .6s .7s, transform .6s .7s;

  // When visible
  .show & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Close link/button
.overlay-close {
  display: block;
  width: $overlay-close-size;
  height: $overlay-close-size;
  position: fixed;
  top: $spacing-base;
  right: $spacing-base;
  padding: $overlay-close-padding;
  fill: $color-text;
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: opacity $transition-duration-base .7s, transform $transition-duration-base .7s;
  z-index: $zindex-overlay-close;

  // Fix icon and add transition
  svg,
  .icon {
    display: block;
    transition: transform $transition-duration-fast;
  }

  &:hover,
  &:focus {
    svg,
    .icon {
      transform: rotate(180deg);
    }
  }

  // When visible
  .show & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Title
.overlay-title {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin-bottom: $spacing-xl;
  }
}

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.25);
  z-index: $zindex-overlay - 1;
  transition: opacity $transition-duration-base;

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}
