// MUSTRA PAGE HEADER
//
// Page header with navigation menu

// Static

.page-header {
  @include clearfix;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
  transition: all $transition-duration-base $transition-easing;
}

.page-header-logo {
  display: inline-block;
  margin-bottom: $spacing-sm;

  svg,
  img {
    display: block;
  }

  @media (min-width: $screen-xs) {
    float: left;
    margin-right: $grid-gutter;
    margin-bottom: 0;
  }
}

.page-header-menu-wrap {
  position: relative;
  float: left;
}

.hamburger {
  float: left;
  position: relative;
  width: 32px;
  height: 24px;
  margin-top: .5em;
  border-top: 4px solid $color-text;
  border-bottom: 4px solid $color-text;
  text-indent: -999px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $color-text;
    margin-top: -2px;
  }

  @media (min-width: $screen-sm) {
    display: none;
  }
}

.page-header-menu {
  @extend .list-unstyled;
  transition: all $transition-duration-fast $transition-easing;

  @media (max-width: $screen-sm-max) {
    background-color: $color-light;
    position: absolute;
    top: 12px;
    left: 36px;
    box-shadow: $box-shadow-base;

    // Hamburgered
    &.hamburgered {
      opacity: 0 !important;
      height: 0 !important;
      overflow: hidden;
    }

  }


  li {
    margin-left: 0;
    white-space: nowrap;
    @media (min-width: $screen-sm) {
      display: inline;
      margin: 0;
    }

  }

  li > a {
    @include link-variant($color-text, $color-primary);
    text-transform: uppercase;
    font-size: .65em;
    font-weight: $font-weight-bold;
    letter-spacing: .1em;
    display: block;
    padding: $grid-gutter/2;

    @media (min-width: $screen-sm) {
      display: inline-block;
      padding: 1em 0;
    }
  }
}

// Fixed

.page-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $spacing-xs $grid-gutter;
  margin-top: 0;
  margin-bottom: 0;
  z-index: $z-index-page-header-fixed;
  background-color: $color-light;
  box-shadow: $box-shadow-base;
  // Hide it initially
  opacity: 0;
  transform: translateY(-100%);

  .page-header-active & {
    opacity: 1;
    transform: translateY(0);
  }
}
