doctype html
html

  block head
    include partials/_header

    block title
      title Mustra front-end starter kit

  block content
    body
      p Your content goes here.

  include partials/_footer

