section.styleguide-section#s-boxes
  +sectionHeading("Boxes")

  .row
    .col-sm-8
      .box.box-default This is a default box.
      .box.box-default.box-bordered This is a default bordered box.
      .box.box-default.box-shadowed This is a default shadowed box.
      .box.box-primary This is a primary box.
      .box.box-primary.box-bordered This is a primary bordered box.
      .box.box-primary.box-shadowed This is a primary shadowed box.
      .box.box-warning This is a warning box.
      .box.box-warning.box-bordered This is a warning bordered box.
      .box.box-warning.box-shadowed This is a warning shadowed box.
      .box.box-success This is a success box.
      .box.box-success.box-bordered This is a success bordered box.
      .box.box-success.box-shadowed This is a success shadowed box.
      .box.box-danger This is a danger box.
      .box.box-danger.box-bordered This is a danger bordered box.
      .box.box-danger.box-shadowed This is a danger shadowed box.
      .box.box-bordered This is a bordered box.
      .box.box-default
        .box.box-light This is a light box.
        .box.box-light.box-bordered This is a light bordered box.
        .box.box-light.box-shadowed This is a light shadowed box.
      .box.box-default.box-lg This is a default box with large padding.
      .box.box-default.box-sm.text-sm This is a default box with small padding.
      .box.box-default.box-nopadding This is a default box with no padding.
    .col-sm-4
      .styleguide-content
        p
          strong Boxes
        p Boxes in various flavors and sizes. Use them when you need to frame some content. Use the <code>.box-nopadding</code> class in case you want to nest a <code>.grid</code> layout within it.
        p By default boxes don't have any margins.
