section.styleguide-section#s-boxes
  +sectionHeading("Boxes")

  .row
    .col-sm-8
      .box.box-default This is a default box.
      .box.box-primary This is a primary box.
      .box.box-bordered This is a bordered box.
      .box.box-default.box-lg This is a default box with large padding.
      .box.box-default.box-sm.text-sm This is a default box with small padding.
      .box.box-default.box-nopadding This is a default box with no padding.
    .col-sm-4
      .styleguide-content
        p
          strong Boxes
        p Boxes in various flavors and sizes. Use them when you need to frame some content. Use the <code>.box-nopadding</code> class in case you want to nest a <code>.grid</code> layout within it.
        p By default boxes don't have any margins.
