section.styleguide-section#s-breadcrumbs
  +sectionHeading("Breadcrumbs")

  .row
    .col-sm-8
      +breadcrumbs(["First page title", "Second page longer title", "Third page longer title", "Fourth page title"])

    .col-sm-4
      .styleguide-content
        p
          strong Breadcrumbs
        p Breadcrumbs are responsive and on smaller screens items are moved to the dropdown menu.
