section.styleguide-section#s-buttons
  +sectionHeading("Buttons")

  .row
    .col-sm-8
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-default") Default button
        li
          button(type="submit", class="button button-default") Default button
        li
          input(type="submit", id="", name="", value="Default button", class="button button-default")
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-primary") Primary button
        li
          button(type="submit", class="button button-primary") Primary button
        li
          input(type="submit", id="", name="", value="Primary button", class="button button-primary")
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-success") Success button
        li
          button(type="submit", class="button button-success") Success button
        li
          input(type="submit", id="", name="", value="Success button", class="button button-success")
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-danger") Danger button
        li
          button(type="submit", class="button button-danger") Danger button
        li
          input(type="submit", id="", name="", value="Danger button", class="button button-danger")
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-warning") Warning button
        li
          button(type="submit", class="button button-warning") Warning button
        li
          input(type="submit", id="", name="", value="Warning button", class="button button-warning")
      .box.box-default.mb-md
        ul.list-inline-block
          li
            a(href="#", class="button button-invert") Inverted button
          li
            button(type="submit", class="button button-invert") Inverted button
          li
            input(type="submit", id="", name="", value="Inverted button", class="button button-invert")
      ul.list-inline-block.mb-md
        li
          button(type="submit", class="button button-disabled", disabled) Disabled button
        li
          input(type="submit", id="", name="", value="Disabled button", class="button button-disabled", disabled)
      ul.list-inline-block.mb-md
        li
          a(href="#", class="button button-primary button-xs") X–Small button
        li
          a(href="#", class="button button-primary button-sm") Small button
        li
          a(href="#", class="button button-primary button-lg") Large button
      p
        a(href="#", class="button button-primary button-block") Block level button
    .col-sm-4
      .styleguide-content
        p Various button flavors and sizes.
