section.styleguide-section#s-carousels
  +sectionHeading("Carousels")

  .row
    .col-sm-8
      .js-carousel
        div
          img(src="https://placeimg.com/700/300/people")
        div
          img(src="https://placeimg.com/700/300/nature")
        div
          img(src="https://placeimg.com/700/300/animals")
        div
          img(src="https://placeimg.com/700/300/tech")

    .col-sm-4
      .styleguide-content
        p Single slide carousel.
