section.styleguide-section#s-dropdowns
  +sectionHeading("Dropdowns")

  .row
    .col-sm-8
      .dropdown
        a.button.button-primary.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true" aria-expanded="false") Toggle dropdown
        ul.dropdown-menu(arial-label="Dropdow")
          li
            a.dropdown-item(href="#") Dropdown link
          li
            a.dropdown-item(href="#") Dropdown link
          li
            a.dropdown-item(href="#") Dropdown link
          li
            a.dropdown-item(href="#") Dropdown link
    .col-sm-4
      .styleguide-content
        p Simple Bootstrap dropdown implementation.
