section.styleguide-section#s-flexbox-grid
  +sectionHeading("Flexbox grid")

  .row
    .col-sm-8
      .row
        .col-xs-12
          .styleguide-grid-cell
      .row
        .col-xs-1
          .styleguide-grid-cell
        .col-xs-11
          .styleguide-grid-cell
      .row
        .col-xs-2
          .styleguide-grid-cell
        .col-xs-10
          .styleguide-grid-cell
      .row
        .col-xs-3
          .styleguide-grid-cell
        .col-xs-9
          .styleguide-grid-cell
      .row
        .col-xs-4
          .styleguide-grid-cell
        .col-xs-8
          .styleguide-grid-cell
      .row
        .col-xs-5
          .styleguide-grid-cell
        .col-xs-7
          .styleguide-grid-cell
      .row
        .col-xs-6
          .styleguide-grid-cell
        .col-xs-6
          .styleguide-grid-cell
    .col-sm-4
      .styleguide-content
        p The flexbox-based grid uses the same syntax as the Bootstrap's grid, and supports the same features.
        p The main thing that makes it a better alternative to the old float-based grid is the fact that it's nestable. Other features that set it apart are modern properties that come with flexbox layout model, such as easy vertical centering through <code>.top/middle/bottom-XX</code> classes, ability to define starting points for the grid (we used to revert floats before) through <code>.left/center/right-XX</code>.
        p Find out more at <a href="http://flexboxgrid.com/">flexboxgrid.com</a>.
