section.styleguide-section#s-media-object
  +sectionHeading("Media object")

  .row
    .col-sm-8
      .media
        .media-left
          .media-object Media key
        .media-body
          p Media value.
          p Anything can go in here.
    .col-sm-4
      .styleguide-content
        p The media element should be used any time you need a key-value pair in a visual sense. This includes a comment+avatar combo, literal key-value pairs (e.g. two-column tables), etc.
        p The key element accepts an image, or text, while the body acts as a standard container. Media element uses flexbox for layout.
