section.styleguide-section#s-titles
  +sectionHeading("Titles")

  .row
    .col-sm-8
      p.pretitle This is a pretitle element.
      h1.section-title Your main, section title.
    .col-sm-4
      .styleguide-content
        p
          strong Section titles
        p Often used as page headings. This style is also mapped to <code>h1</code> and <code>.h1</code>.
        p They have no top margin, so you don't have to pay attention to margin collapsing. Utilize the spacing classes accordingly.
        p This example illustrates a title accompanied with a pre-title element which is completely optional.
  .row
    .col-sm-8
      h1.title This is a standard title.
    .col-sm-4
      .styleguide-content
        p
          strong Titles
        p Use them as titles for your text. This style is also mapped to <code>h2</code> and <code>.h2</code>.
  .row
    .col-sm-8
      h3 A Subtitle
    .col-sm-4
      .styleguide-content
        p
          strong Subtitles
        p This style is also mapped to <code>.h3</code> and is best used within text for more granular separation.
