extends partials/layout

append meta
  - var title = "Mustra styleguide"
  - var useDotHTMLExtension = false;

//- Add an additional stylesheet needed for the styleguide
block append meta
  link(rel="stylesheet", href=cssPath + "styleguide.css")

//- Mixins for the styleguide
mixin sectionHeading(name)
  h1.styleguide-divider
    =name
    span.styleguide-divider-actions.fade
      a(href="#top", data-scroll="smooth", class="button button-xs button-default") back to top

block content

  .container#top

    header.page-header
      nav
        a(href="/", class="page-header-logo")
          img(src="https://i.imgur.com/A0a2nSb.png", width="173", height="40", alt="Mustra")
        .page-header-menu-wrap
          a.hamburger(href="#") Show menu
          ul.page-header-menu.hamburgered
            li
              a(href="#") Nav link
            li
              a(href="#") Nav link
            li
              a(href="#") Nav link
            li
              a(href="#") Nav link

    section.styleguide-section
      +sectionHeading("Navigation")

      .row
        .col-sm-3.col-sm-offset-3
          p.upcase This guide
          ul.list-unstyled
            +sectionLink('#s-colors', 'Colors')
            +sectionLink('#s-font-families', 'Font families')
            +sectionLink('#s-titles', 'Titles')
            +sectionLink('#s-breadcrumbs', 'Breadcrumbs')
            +sectionLink('#s-textual-elements', 'Textual elements')
            +sectionLink('#s-lists', 'Lists')
            +sectionLink('#s-forms', 'Forms')
            +sectionLink('#s-buttons', 'Buttons')
            +sectionLink('#s-tables', 'Tables')
            +sectionLink('#s-boxes', 'Boxes')
            +sectionLink('#s-messages', 'Messages')
            +sectionLink('#s-media-object', 'Media object')
            +sectionLink('#s-tabs', 'Tabs')
            +sectionLink('#s-collapse', 'Collapse & Accordion')
            +sectionLink('#s-dropdowns', 'Dropdowns')
            +sectionLink('#s-overlays', 'Overlays')
            +sectionLink('#s-drawers', 'Drawers')
            +sectionLink('#s-state-content-toggler', 'State-Content Toggler')
            +sectionLink('#s-carousels', 'Carousels')
            +sectionLink('#s-flexbox-grid', 'Flexbox grid')
            +sectionLink('#s-helper-classes', 'Helper classes')
        .col-sm-3
          p.upcase Mockups
          p.quiet.text-sm Link up your mockups from here.
          //- ul.list-unstyled
          //-   li
          //-     a(href="#") Template

    include styleguide/_colors

    include styleguide/_font-families

    include styleguide/_titles

    include styleguide/_breadcrumbs

    include styleguide/_textual-elements

    include styleguide/_lists

    include styleguide/_forms

    include styleguide/_buttons

    include styleguide/_tables

    include styleguide/_boxes

    include styleguide/_messages

    include styleguide/_media-object

    include styleguide/_tabs

    include styleguide/_collapse

    include styleguide/_dropdowns

    include styleguide/_overlays

    include styleguide/_drawers

    include styleguide/_state-content-toggler

    include styleguide/_carousels

    include styleguide/_grid

    include styleguide/_helper-classes

    hr.mt-lg.mb-lg

    .row.mb-lg
      .col-sm-8.quiet.text-xs
        p
          strong The MIT License (MIT)
        p Copyright  2016 <a href="http://sprawsm.com/" class="link-quiet">Sprawsm doo</a>
        p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
        p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        p The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
