head
  title=pageTitle
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="description", content=description)
  meta(name="author", content=author)
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //- Facebook Open Graphs tags
  //- Source: https://developers.facebook.com/docs/sharing/webmasters#markup
  //- Sharing Debugger: https://developers.facebook.com/tools/debug/
  if includeOpenGraph
    meta(property="og:url", content=siteUrl + slug + urlExtension)
    meta(property="og:type", content=ogType)
    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=description)
    meta(property="og:site_name", content=ogSiteName)
    meta(property="og:image", content=siteUrl + imagesPath + ogImage)
    meta(property="og:image:width", content=ogImageWidth)
    meta(property="og:image:height", content=ogImageHeight)

    //- Domain Insights: https://developers.facebook.com/docs/platforminsights/domains
    meta(property="fb:admins", content=fbAdmins)
    meta(property="fb:app_id", content=fbAppId)

  //- Twitter cards
  if includeTwitterCard
    meta(name="twitter:card", content=twtCard)
    meta(name="twitter:site" content=twtSite)
    meta(name="twitter:author" content=twtAuthor)
    meta(name="twitter:creator" content=twtCreator)
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=siteUrl + imagesPath + ogImage)

  //- Favicons
  include _favicons

  //- DNS Prefetch
  //- Source: http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/
  //- Source: https://css-tricks.com/prefetching-preloading-prebrowsing/
  each href in dnsPrefetch
    link(rel="dns-prefetch", href=href)

  //- Website styles
  block styles
    link(rel="stylesheet", href=cssPath + "styles.css")
  //- link(rel="stylesheet", href=cssPath + "styles.min.css")

  //- Preload Webfont resources (use with caution because it has a high priority)
  //- Source: https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization#preload_your_webfont_resources
  //- link(rel="preload" href="/fonts/awesome-l.woff2" as="font")

  //- Advanced Typekit code
  //- Source: https://helpx.adobe.com/typekit/using/embed-codes.html
  //- script.
  //-   (function() {
  //-     var config = {
  //-       kitId: 'CHANGEME',
  //-       scriptTimeout: 3000,
  //-       async: true
  //-     };
  //-     var h = document.getElementsByTagName('html')[0];
  //-     h.className += ' wf-loading';
  //-     var t = setTimeout(function() {
  //-       h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, ' ');
  //-       h.className += ' wf-inactive';
  //-     }, config.scriptTimeout);
  //-     var d = false;
  //-     var tk = document.createElement('script');
  //-     tk.src = '//use.typekit.net/' + config.kitId + '.js';
  //-     tk.type = 'text/javascript';
  //-     tk.async = 'true';
  //-     tk.onload = tk.onreadystatechange = function() {
  //-       var rs = this.readyState;
  //-       if (d || rs && rs != 'complete' && rs != 'loaded') return;
  //-       d = true;
  //-       clearTimeout(t);
  //-       try { Typekit.load(config); } catch (e) {}
  //-     };
  //-     var s = document.getElementsByTagName('script')[0];
  //-     s.parentNode.insertBefore(tk, s);
  //-   })();
