doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")

  block meta
    - var siteName = "Mustra"
    - var title = "Front-end starter kit"
    - var description = "The front-end starter kit from Superawesome"
    - var author = "sprawsm.com"
    - var url = "https://www.sprawsm.com/"
    - var slug = ""

    //- Facebook Open Graph
    - var ogType = "website"
    - var ogSiteName = "Mustra"
    - var ogImage = "assets/images/og-image.png"
    - var fbAdmins = ""
    - var fbAppId = ""

    //- Twitter Card
    - var twtCard = "summary"
    - var twtAuthor = "@sprawsm"

  include _header

  include _variables

  include _mixins

  body

    block content
      p Your content goes here.

    include _footer
